
main.flex{
    gap: 2.6rem;
    align-items: start;
}

main.flex .right.flex{
    flex-grow: 1;
    flex-wrap: wrap;
    column-gap: 16px;
    row-gap: 2rem;
    justify-content: center;
}

main.flex .left{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

main.flex .left button{
    background-color: rgba(36,37,46,1);
    width: 11rem;
    padding: .75rem 0;
    text-align: center;
    font-size: 1.05rem;
    text-transform: uppercase;
    opacity: 0.5;
    border-radius: 5px;
    transition: all 0.3s ease;
    z-index: 1;
}

main.flex .left button:hover{
    opacity: 1;
}

main.flex .left button.active{
    opacity: 1;
    font-weight: bold;
    letter-spacing: 0.6px;
    padding: 0.8rem 0;
    border: 1px solid var(--blue);
}

.light main.flex .left button.active{
    border: 1px solid black;
}

.card{
    border-radius: 5px;
    box-shadow: -1px 1px 1px rgba(0,0,0, 0.16), 1px 1px 1px rgba(0,0,0, 0.16);
    border: 1px solid rgba(93,188,252,0.3);
    transition: all 0.3s ease;
    border-radius: 5px;
    background-image: linear-gradient( rgba(255, 255, 255, 0.05), rgba(255, 255, 255, 0.05));
}

.card:hover{
    cursor: pointer;
    scale: 1.01;
    rotate: 1deg;
    border: 1px solid var(--blue);
}

.light .card{
    border: none;
}

.light .card:hover{
    background-color: rgb(239, 239, 239);
    border: none;
}
.card img{
    border-radius: 5px;
    height: 180px;
}

.card .box{
    padding: 1rem 0.5rem;
}

.card .box .title{
    color: var(--title);
    text-transform: capitalize;
}

.card .box .body{
    color: var(--subtitle);
    font-size: 0.8rem;
    margin-top: 0.7rem;
    margin-bottom: 1.1rem;
}

.card .box .icons{
    justify-content: space-between;
}


.card .box .icons .first{
    gap: 1rem;
    color: var(--subtitle);
    font-size: 1.2rem;
    transition: all 0.3s ease;
}

.card .box .icons .first:hover{
    cursor: pointer;
    color: var(--iconhover);
}

.card .box .link{
    gap: 0.4rem;
    font-size: .9rem;
    color: var(--blue);
    margin-right: 12px;
}

.card .box .link span{
    align-self: end;
}





@media(max-width:600px){
    main.flex{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    main.flex .left{
        flex-direction: row;
        flex-wrap: wrap;
        gap: 10px;
        justify-content: center;

    }

    main.flex .left button{
        width: 7rem;
        padding: .8rem 0;
        font-size: .8rem;
    }

}