
/* the left section */
section.hero{
    margin-top: 3rem;
    gap: 3rem;
}

section.hero .left{
    flex-grow: 1; /*takes all the spac e*/
}

.hero .left .parent-avatar.flex{
    align-items: end;
    gap: .6rem;
}

section.hero .left img{
    width: 88px;
    border-radius: 50%;
    border: 1px solid rgb(50, 50, 50);
    padding: 1px;
    box-shadow: 2px 2px 40px rgba(128, 128, 128, 0.23) inset;
}

section.hero .left .icon-verified{
    color: var(--blue);
    margin-bottom: .3rem;
}

section.hero .title{
    font-size: 2.85rem;
    line-height: 3.3rem;
    margin: 24px 0;
    color: var(--title);
}

section.hero .subtitle{
    color: var(--subtitle); 
    font-size: .9rem;
    line-height: 1.5rem;
    margin-bottom: 32px;
}

section.hero .icons{
    font-size: 1.4rem;
    gap: 1.5rem;
    color: var(--subtitle);
}

section.hero .icons .icon:hover{
    cursor: pointer;
    transition: all .3s ease;
    font-size: 1.5rem;
    color: var(--iconhover);
}

section.hero  .right{
    width: 100%;
    translate: 10px;
}
section.hero  .right .animation{
    width:450px;
}

@media(max-width: 970px){
    .animation{
        display: none;
    }
}









/*right section for the animation*/