/*all the files will be attached to this styles so be careful */

/*
    this is the styles of the header 
    table of content : 
    - navigation menu
    - dark and light mode button
    - in the mobile view we have a button for toggeling the navigation in mobile 
    - the icons are from icon moon
    - responsive first break point is 700px 
*/


/*design*/
header.flex{
    justify-content: space-between;
    padding: 0 2.4rem;
    margin-top: 1.2rem;
}

header .icon-sun{
    color: rgb(255, 191, 0);
}

header button.menu{
    display: none;
}

header.flex nav{    
    background-color: var(--bgHeader);
    padding: .77rem 2rem;
    border-radius: 50px;
    box-shadow: 2px 2px 20px rgba(43, 41, 41, 0.139); /*right bottom spreading */
}

header ul.flex{
     gap: 16px;
}

header ul li a{
    color: var(--title);
    opacity: 0.9;
    font-size: .88rem;
    font-weight: 500;
    transition: all .3s ease;
}

header ul li a:hover{
    color: var(--blue);
    opacity: 1;
    font-size: 1rem;
    font-weight: 500;
}

header button{
    font-size: 1.2rem;
}

header .fixed{
    position: fixed;
    inset: 0;
    z-index: 1000;
    background-color: rgba(40, 40, 40, 0.776);
} 

@keyframes mymove {
    0% {scale: 0;}

    60% {scale: 1.2;}
    
    100% {scale: 1;}
}

header .fixed ul.modal{
    animation: mymove .7s 1;
    scale: 1;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    background-color: var(--secondary);
    margin-top: 2rem;
    border-radius: 1rem;
    padding: 1rem 2rem;
    z-index: 100;
}

header .fixed ul.modal li{
    border-bottom: 1px solid var(--border);
    padding-bottom: .77rem ;
    padding-top: .77rem;
}

header .fixed ul.modal li:last-child{
    border-bottom: none;
    padding-bottom: 0;
    padding-bottom: 0rem ;
    padding-top: .2rem;
}

header .fixed ul.modal li:first-child{
    text-align: right;
    border: none;
}

header .fixed ul.modal li a{
    font-size: 1rem;
}

.icon-cross{
    color: var(--subtitle);
    font-weight: 400;
    font-size: 20px;
    transition: all 0.3s ease;
}

.icon-cross:hover{
    rotate: 180deg;
    color: crimson;
    
}

/* icon button*/
header .mode,
header .icon-menu{
    background-color: var(--bgHeader);
    box-sizing: border-box;
    height: 2.4rem;
    width: 2.4rem;
    border-radius: 50%;
    border: 1px solid rgba(244,165,96,0.249);
    text-align: center;
    justify-content: center;
    color: var(--subtitle);
    transition: all 0.3s ease;
}

.light header .mode,
.light header .icon-menu{
    border: 1px solid rgba(129, 129, 129, 0.249);
}

header .mode:hover,
header .icon-menu:hover{
    color: var(--title);
    border: 1px solid rgb(244, 165, 96);
}   

.light header .mode:hover,
.light header .icon-menu:hover{
    color: var(--title);
    border: 1px solid rgba(29, 29, 29, 0.489);
}   















@media(max-width:700px){
    header nav{
        display: none;
    }
    header button.menu{
        display: block;
    }
}
